```ruby
require 'kittn'

api = Kittn::APIClient.authorize!('meowmeowmeow')
api.kittens.get(2)
```

```python
import kittn

api = kittn.authorize('meowmeowmeow')
api.kittens.get(2)
```

```shell
curl --request GET \
  --url <%= config[:api_domain] %>/api/v2/api_system/products/{product_id}?token={your token}
```
<pre class="shell-or">OR</pre>
```shell
curl --request GET \
  --url <%= config[:api_domain] %>/api/v2/api_system/products/{product_id} \
    -d token={your token}
```

```javascript
const kittn = require('kittn');

let api = kittn.authorize('meowmeowmeow');
let max = api.kittens.get(2);
```

> The above command returns JSON structured like this:

```json
{
    "data": {
        "id": "17788",
        "type": "product",
        "attributes": {
            "id": 17788,
            "name": "Hand Holding Leaf",
            "slug": "hand-holding-leaf-17788",
            "product_type": "animation",
            "pdp_preview_url": "https://videoplasty-storage-production.s3.amazonaws.com/previews/videoplasty-17788-hand-holding-leaf-stock-animation-pdp.mp4",
            "category": "Stock Animation",
            "description": "Hand holding a bit of soil with leaves coming out of it",
            "tags": [
                "green",
                "hope",
                "optimism",
                "future",
                "environment",
                "recycle",
                "recycling",
                "recycled",
                "plant",
                "leaf",
                "leaves",
                "soil",
                "organic",
                "hand",
                "hands",
                "new",
                "reuse",
                "reusable",
                "waste",
                "eco",
                "ecological",
                "environmentally friendly",
                "climate change",
                "global warming",
                "sustainability",
                "sustaintable",
                "plastic",
                "free"
            ]
        },
        "relationships": {
            "product_properties": {
                "data": [
                    {
                        "id": "200083",
                        "type": "product_property"
                    },
                    {
                        "id": "200084",
                        "type": "product_property"
                    },
                    {
                        "id": "200085",
                        "type": "product_property"
                    },
                    {
                        "id": "200086",
                        "type": "product_property"
                    },
                    {
                        "id": "200087",
                        "type": "product_property"
                    },
                    {
                        "id": "200088",
                        "type": "product_property"
                    },
                    {
                        "id": "200089",
                        "type": "product_property"
                    },
                    {
                        "id": "200090",
                        "type": "product_property"
                    },
                    {
                        "id": "411601",
                        "type": "product_property"
                    }
                ]
            },
            "images": {
                "data": [
                    {
                        "id": "39441",
                        "type": "image"
                    }
                ]
            },
            "similar_products": {}
        }
    }
}
```

Returns product details based on its unique product ID.

### HTTP Request

<code class="http-request">
  <span class="http-method-get">GET</span>
  <%= config[:api_domain] %>/api/v2/api_system/products/__{product_id}__
</code>

### URL Parameters

| Parameter  | Type       | Description                                      |
|------------|------------|--------------------------------------------------|
| product_id | string     | Unique identifier for product <br/> Example: 14  |


### Query Parameters

| Parameter  | Type     | Description                                                                                                                            |
|------------|----------|----------------------------------------------------------------------------------------------------------------------------------------|
| __token__  | string   | __(required)__ Use token provided to you                                                                                               |
| include    | string   | Specify what related resources (relationships) you would like to receive in the response body. <br/> i.e. images, product_properties, similar_products, similar_products.images |
