```ruby
require 'kittn'

api = Kittn::APIClient.authorize!('meowmeowmeow')
api.kittens.get
```

```python
import kittn

api = kittn.authorize('meowmeowmeow')
api.kittens.get()
```

```shell
curl --request GET \
  --url <%= config[:api_domain] %>/api/v2/api_system/products?token={your token}&per_page=5
```
<pre class="shell-or">OR</pre>
```shell
curl --request GET \
  --url <%= config[:api_domain] %>/api/v2/api_system/products \
    -d token={your token} \
    -d per_page=5
```

```javascript
const kittn = require('kittn');

let api = kittn.authorize('meowmeowmeow');
let kittens = api.kittens.get();
```

> The above command returns JSON structured like this:

```json
{
    "data": [
        {
            "id": "17788",
            "type": "product",
            "attributes": {
                "id": 17788,
                "name": "Hand Holding Leaf",
                "slug": "hand-holding-leaf-17788",
                "product_type": "animation",
                "plp_preview_url": "https://cdn.videoplasty.com/previews/videoplasty-17788-hand-holding-leaf-stock-animation-plp.mp4",
                "category": "Stock Animation"
            },
            "relationships": {
                "images": {
                    "data": [
                        {
                            "id": "39441",
                            "type": "image"
                        }
                    ]
                }
            }
        },
        {
            "id": "4501",
            "type": "product",
            "attributes": {
                "id": 4501,
                "name": "White Casual Woman Waving",
                "slug": "white-casual-woman-waving-4501",
                "product_type": "animation",
                "plp_preview_url": "https://cdn.videoplasty.com/previews/videoplasty-4501-white-casual-woman-waving-stock-animation-plp.mp4",
                "category": "Stock Animation"
            },
            "relationships": {
                "images": {
                    "data": [
                        {
                            "id": "11044",
                            "type": "image"
                        }
                    ]
                }
            }
        },
        {
            "id": "5811",
            "type": "product",
            "attributes": {
                "id": 5811,
                "name": "Asian Casual Man Sick with Covid",
                "slug": "asian-casual-man-sick-with-covid-5811",
                "product_type": "animation",
                "plp_preview_url": "https://cdn.videoplasty.com/previews/videoplasty-5811-asian-casual-man-sick-with-covid-stock-animation-plp.mp4",
                "category": "Stock Animation"
            },
            "relationships": {
                "images": {
                    "data": [
                        {
                            "id": "13869",
                            "type": "image"
                        }
                    ]
                }
            }
        },
        {
            "id": "6400",
            "type": "product",
            "attributes": {
                "id": 6400,
                "name": "COVID-19 Personal Protective Equipment Ok",
                "slug": "covid-19-personal-protective-equipment-ok-6400",
                "product_type": "animation",
                "plp_preview_url": "https://cdn.videoplasty.com/previews/videoplasty-6400-covid-19-personal-protective-equipment-ok-stock-animation-plp.mp4",
                "category": "Stock Animation"
            },
            "relationships": {
                "images": {
                    "data": [
                        {
                            "id": "16144",
                            "type": "image"
                        }
                    ]
                }
            }
        },
        {
            "id": "11166",
            "type": "product",
            "attributes": {
                "id": 11166,
                "name": "Christmas Tree Icon",
                "slug": "christmas-tree-icon-11166",
                "product_type": "animation",
                "plp_preview_url": "https://cdn.videoplasty.com/previews/videoplasty-11166-christmas-tree-icon-stock-animation-plp.mp4",
                "category": "Stock Animation"
            },
            "relationships": {
                "images": {
                    "data": [
                        {
                            "id": "22283",
                            "type": "image"
                        }
                    ]
                }
            }
        }
    ],
    "meta": {
        "count": 5,
        "total_count": 29,
        "total_pages": 6
    },
    "links": {
        "self": "https://api.videoplasty.com/api/v2/api_system/products?per_page=5&token=9aded1f74d5452c50669c705f0773e56684e3c2c2a61a34f151a4e733d8c7dac",
        "next": "https://api.videoplasty.com/api/v2/api_system/products?page=2&per_page=5&token=9aded1f74d5452c50669c705f0773e56684e3c2c2a61a34f151a4e733d8c7dac",
        "prev": "https://api.videoplasty.com/api/v2/api_system/products?page=1&per_page=5&token=9aded1f74d5452c50669c705f0773e56684e3c2c2a61a34f151a4e733d8c7dac",
        "last": "https://api.videoplasty.com/api/v2/api_system/products?page=6&per_page=5&token=9aded1f74d5452c50669c705f0773e56684e3c2c2a61a34f151a4e733d8c7dac",
        "first": "https://api.videoplasty.com/api/v2/api_system/products?page=1&per_page=5&token=9aded1f74d5452c50669c705f0773e56684e3c2c2a61a34f151a4e733d8c7dac"
    },
    "filters": {
        "number-of-people": {
            "doc_count": 29,
            "doc_count_error_upper_bound": 0,
            "sum_other_doc_count": 0,
            "buckets": [
                {
                    "key": "1",
                    "doc_count": 25
                }
            ],
            "name": "Number of People",
            "type": "integer"
        },
        "duration": {
            "doc_count": 29,
            "doc_count_error_upper_bound": 0,
            "sum_other_doc_count": 0,
            "buckets": [
                {
                    "key": "10",
                    "doc_count": 29
                }
            ],
            "name": "Duration",
            "type": "duration"
        },
        "transparent-background": {
            "doc_count": 29,
            "doc_count_error_upper_bound": 0,
            "sum_other_doc_count": 0,
            "buckets": [
                {
                    "key": "yes",
                    "doc_count": 27
                },
                {
                    "key": "no",
                    "doc_count": 2
                }
            ],
            "name": "Transparent Background",
            "type": "boolean"
        },
        "gender": {
            "doc_count": 29,
            "doc_count_error_upper_bound": 0,
            "sum_other_doc_count": 0,
            "buckets": [
                {
                    "key": "male",
                    "doc_count": 13
                },
                {
                    "key": "female",
                    "doc_count": 12
                }
            ],
            "name": "Gender",
            "type": "multi-option"
        },
        "looping": {
            "doc_count": 29,
            "doc_count_error_upper_bound": 0,
            "sum_other_doc_count": 0,
            "buckets": [
                {
                    "key": "yes",
                    "doc_count": 27
                },
                {
                    "key": "no",
                    "doc_count": 2
                }
            ],
            "name": "Looping",
            "type": "boolean"
        },
        "format": {
            "doc_count": 29,
            "doc_count_error_upper_bound": 0,
            "sum_other_doc_count": 0,
            "buckets": [
                {
                    "key": "mov",
                    "doc_count": 29
                }
            ],
            "name": "Format",
            "type": "multi-option"
        },
        "resolution-category": {
            "doc_count": 29,
            "doc_count_error_upper_bound": 0,
            "sum_other_doc_count": 0,
            "buckets": [
                {
                    "key": "1080",
                    "doc_count": 28
                },
                {
                    "key": "4k",
                    "doc_count": 1
                }
            ],
            "name": "Resolution Category",
            "type": "option"
        },
        "encoding": {
            "doc_count": 29,
            "doc_count_error_upper_bound": 0,
            "sum_other_doc_count": 0,
            "buckets": [
                {
                    "key": "apple-prores-4444",
                    "doc_count": 29
                }
            ],
            "name": "Encoding",
            "type": "multi-option"
        },
        "category": {
            "doc_count": 29,
            "doc_count_error_upper_bound": 0,
            "sum_other_doc_count": 0,
            "buckets": [
                {
                    "key": "stock-animation",
                    "doc_count": 29
                }
            ],
            "name": "category",
            "type": "multi-option"
        }
    },
    "suggestions": [],
    "price": {
        "min_price": "0.0",
        "max_price": 600
    }
}
```

Returns a list of products for the current Store.

### HTTP Request

<code class="http-request">
  <span class="http-method-get">GET</span>
  <%= config[:api_domain] %>/api/v2/api_system/products
</code>

### Query Parameters

| Parameter                                                        | Type    | Description                                                                                                                                                                                                                                   |
|------------------------------------------------------------------|---------|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| __token__                                                        | string  | __(required)__ Use token provided to you                                                                                                                                                                                                      |
| <p class="nowrap">filter[category]</p>                           | string  | Specify one or more comma separated values for categories <br/> i.e. stock-animation, stock-gifs <br/> note: if you get empty data for particular category then make sure you have permission to access products of that category/taxon.      |
| <p class="nowrap">filter[properties][looping]</p>                | boolean | Values : yes or no                                                                                                                                                                                                                            |
| <p class="nowrap">filter[properties][transparent-background]</p> | boolean | Values : yes or no                                                                                                                                                                                                                            |
| <p class="nowrap">filter[properties][duration]</p>               | string  | Specify range for duration of asset. _note_: values are in seconds<br/> Value : _min_,_max_ &nbsp; Example: 11,14                                                                                                                             |
| <p class="nowrap">filter[properties][number-of-people]</p>       | string  | Specify one or more comma separated values <br/>  Example: _3,4_ retrives products containing number-of-people 3 or 4                                                                                                                         |
| <p class="nowrap">filter[properties][gender]</p>                 | string  | Specify one or more comma separated values <br/>  Possible values: male, female                                                                                                                                                               |
| <p class="nowrap">filter[properties][resolution-category]</p>    | string  | Specify one or more comma separated values                                                                                                                                                                                                    |
| <p class="nowrap">filter[properties][format]</p>                 | string  | Specify one or more comma separated values                                                                                                                                                                                                    |
| <p class="nowrap">filter[properties][encoding]</p>               | string  | Specify one or more comma separated values                                                                                                                                                                                                    |
| <p class="nowrap">filter[properties][resolution]</p>             | string  | Specify one or more comma separated values                                                                                                                                                                                                    |
| <p class="nowrap">filter[properties][bpm]</p>                    | string  | Specify one or more comma separated values                                                                                                                                                                                                    |
| include                                                          | string  | specify what related resources (relationships) you would like to receive in the response body <br/> i.e. images, product_properties                                                                                                           |
| include_extra_fields                                             | string  | specify extra fields you would like to receive in the response body <br/> i.e. description, duration, resolution_category, tags                                                                                                               |
| page                                                             | integer | Number of requested page when paginating collection <br/> Examples: 1                                                                                                                                                                         |
| per_page                                                         | integer | Number of requested records per page when paginating collection <br/> 25                                                                                                                                                                      |
| sort                                                             | string  | Use __"-"__ to sort in descending order <br/> Sort products based on: <br/> <ul style="margin:0"> <li>price (ascending)<br/>-price (descending)</li> <li>created_at (ascending)<br/>-created_at (descending)</li> <li>best-selling</li> </ul> |
